body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    overflow: hidden;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    display: inline;
    padding: 14px 20px;
}

.navbar li a {
    text-decoration: none;
    color: white;
    display: block;
}

.navbar li a:hover {
    color: rgb(211, 30, 30);
}

.main {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: #000000;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.form-heading {
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    color: white;
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-submit {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.form-submit:hover {
    background-color: #218838;
}


.table-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 60%;
}

.table-heading {
    margin-bottom: 20px;
    text-align: center;
}

.employee-table {
    width: 100%;
    border-collapse: collapse;
}

.table-header {
    background-color: #333;
    color: white;
}

.header-row, .table-row {
    border-bottom: 1px solid #ddd;
}

.table-header-cell, .table-cell {
    padding: 12px;
    text-align: left;
}

.table-row:hover {
    background-color: #f1f1f1;
}
